body{
	margin:0px;
	padding:0px;
	font-family:arial, sans-serif;
	font-size:12px;
	color: #ffffff;	
	background: #DBC216;  
}

h1{
	font-family: lucida console, moonspace;
	font-size:30px;
	color: #416a59;
	text-align: center;
}


h2{
	font-family: lucida console, moonspace;
	font-size:24px;
	color: #416a59;
	text-align: center;
}

#cv1 
{ 
	width: 800px; 
	height: 600px; 
	background-color: #A59908; 
	margin: auto; 
	display: block; 
}

#button1{
	text-align: center; 
   margin: 10px 2px;
   border: none;
   background-color: white;
   color: black; 
   	font-family: lucida console, moonspace;
   font-size: 16px;
   cursor: pointer;
}

#button2{
	text-align: center; 
   margin: 10px 2px;
   border: none;
   background-color: white;
   color: black; 
   	font-family: lucida console, moonspace;
   font-size: 16px;
   cursor: pointer;
}

#button3{
	text-align: center; 
   margin: 10px 2px;	
   border: none;
   background-color: white;
   color: black; 
   	font-family: lucida console, moonspace;
   font-size: 16px;
   cursor: pointer;
}

#button4{
	text-align: center; 
   margin: 10px 2px;	
   border: none;
   background-color: white;
   color: black; 
   	font-family: lucida console, moonspace;
   font-size: 16px;
   cursor: pointer;
}

#button5{
	text-align: center; 
   margin: 10px 2px;	
   border: none;
   background-color: white;
   color: black; 
   	font-family: lucida console, moonspace;
   font-size: 16px;
   cursor: pointer;
}


#button6{
	text-align: center; 
   margin: 10px 2px;	
   border: none;
   background-color: white;
   color: black; 
   	font-family: lucida console, moonspace;
   font-size: 16px;
   cursor: pointer;
}


#button7{
	text-align: center; 
   margin: 10px 2px;	
   border: none;
   background-color: white;
   color: black; 
   	font-family: lucida console, moonspace;
   font-size: 16px;
   cursor: pointer;
}